{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Password reset{% endblock %}

{% block content %}

<link href="{% static 'css/auth.css' %}" rel="stylesheet">
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-6 ">
                <div class="row">

                    {% if validlink %}

                        <h2>CHANGE PASSWORD</h2>
                        <br>
                        <form action="" method="post">{% csrf_token %}
                            {{ form.new_password1.errors }}
                            <p class="aligned wide"><label for="id_new_password1">NEW PASSWORD:</label>{{ form.new_password1 }}</p>
                            <br>
                            {{ form.new_password2.errors }}
                            <p class="aligned wide"><label for="id_new_password2">CONFIRM PASSWORD:</label>{{ form.new_password2 }}</p>
                            <br>
                            <p><input type="submit" value="Change Password" /></p>
                        </form>

                    {% else %}

                        <h2>PASSWORD RESET ERROR</h2>
                        <br>
                        <p>The password reset link was invalid, possibly because it has already been used.</p>
                        <br>
                        <p>Please request a new password reset.</p>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}