{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<link href="{% static 'css/auth.css' %}" rel="stylesheet">
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-6 ">
                <div class="row">
                    <h2>PASSWORD RESET</h2>
                    <br>
                    <p>Enter your registration email and we'll send you a link to set a new password.</p>
                    <br>
                    <form action="" method="post">{% csrf_token %}
                        {{ form.email.errors }}
                        <p>
                            <label for="id_email">EMAIL ADDRESS:</label> {{ form.email }} <input type="submit" value="SUBMIT" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}