{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Password reset complete{% endblock %}

{% block content %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-6 ">
                <div class="row">
                    <h2>PASSWORD RESET SUCCESS!</h2>
                    <br>
                    <h2>YOU MAY NOW LOGIN :)</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}