{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Password Reset In Progress{% endblock %}

{% block content %}

<link href="{% static 'css/auth.css' %}" rel="stylesheet">
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-6 ">
                <div class="row">
                    <h2>PASSWORD RESET IN PROGRESS</h2>
                    <br>
                    <p>We've emailed you instructions for resetting your password.</p>
                    <br>
                    <p>Note: if the email address you submitted doesn't match the email address you used for registration, you won't receive an email.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
