h1 {
    font-size: 64px;
}

.container-a {
    text-align: center;
    margin-top: 16px;
    max-width: 75%;
    min-width: 64%;
    margin: auto;
    background-color: #6d19a3;
    color: white;
    overflow: hidden;
    border-radius: 55px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.content-section-a {
    padding: 50px;
    background-color: white;
}


