{% extends "shop.html" %}
{% load staticfiles %}

{% block carddeclined %}

<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="{% url 'home:shop' %}" class="btn btn-info close"> &times; </a>
                <h4 class="modal-title" id="myModalLabel">CARD DECLINED</h4>
            </div>
            <!--
            <div class="modal-body">
                <!--TODO: send email receipt
                Thank you for making your purchase.
                <ul>
                    <li> Please check your email address for your receipt.             </li>
                    <li> Purchase history + valid ID will act as your ticket to the reunion events. </li>
                </ul>
            </div>
            -->
        </div>
    </div>
</div>

{% endblock %}
