{% extends "base.html" %}
{% load staticfiles %}

{% block events %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Day 1</h1>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Nulla faucibus cursus metus in sagittis. Nunc elit leo, imperdiet in ligula in, euismod varius est.
                        </li>
                        <li>
                            Aenean pellentesque lorem a porttitor placerat. Vestibulum placerat nunc ac rutrum fringilla.
                        </li>
                        <li>
                            Sed a risus purus!
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Day 2</h1>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Tincidunt dapibus. Nulla quam velit, porta sit amet felis eu, auctor fringilla elit.
                        </li>
                        <li>
                            Convallis tincidunt nibh, quis pellentesque sapien condimentum a. Phasellus purus dui, rhoncus :)
                        </li>
                        <li>
                            Id suscipit id, ornare et sem. Duis aliquet posuere arcu a ornare. Pellentesque consequat libero.
                        </li>
                        <li>
                            Massa accumsan volutpat. Fusce a hendrerit lacus. Nam elementum ac eros eu porttitor.
                        </li>
                        <li>
                            Nulla faucibus cursus metus in sagittis. Nunc elit leo, imperdiet in ligula in, euismod varius est.
                        </li>
                        <li>
                            Aenean pellentesque lorem a porttitor placerat. Vestibulum placerat nunc ac rutrum fringilla.
                        </li>
                        <li>
                            Sed a risus purus!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
