{% extends "base.html" %}
{% load staticfiles %}

{% block events %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>July 18th 2015</h3></h1>
                </div>
                <div class="panel-body">
                        <p> <h4> <b> Party on Campus! </b> </h4> </p>
                        <ul>
                            <li> 12:00pm to 12:45pm</li>
                            <li> Meet in FHS School lobby for a top-of-the-class tour of the brand spankin' new high school. </li>
                            <li> Come walk the halls with us while we reminisce! </li>
                            <li> Kid friendly event! Show your future bulldogs around! </li>
                        </ul>

                        <br>

                        <p> <h4> <b> Party in the Park! </b> </h4> </p>
                        <ul>
                            <li>1:00pm to 3:00pm</li>
                            <li>Join us for a day time hangout/cookout at the UofA Gardens on Leroy Pond Rd.</li>
                            <li>Support fellow class man <b>Jon Shorter</b> and his band while they serenade us in the sun!</li>
                            <li>Alcohol is <i>technically</i> not allowed in the Gardens but supposedly the rule isn't strictly enforced. </li>
                            <li>Imbibe at your own discretion. AKA BYOB + CUPS </li>
                            <li>More attractions to be announced soon!</li>
                            <li>Bring your kids and pets!</li>
                        </ul>

                        <br>
                        <p> <h4> <b> Party on the Patio! </b> </h4> </p>
                        <ul>
                            <li>8:00pm to Midnight</li>
                            <li>Get a little dapper and toss on your name tag. Its time to rendezvous with your 2005 class mates! </li>
                            <li>Come on down to Powerhouse and party the night away! We deserve a little celebration.</li>
                            <li>Grammy award nominated and FHS teacher <a href="http://www.barrettbaber.com" style="color:blue">Barrett Baber </a> will be performing. </li>
                            <li>More attractions to be announced soon!</li>
                            <li>We recommend getting a babysitter.</li>
                        </ul>
                        <br>
                </div>
            </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><h3>Travel Accommodations</h3></h1>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li> Need to book a hotel? </li>
                            <li> We have a block of rooms for any travelers to use at the <a href="http://www.hotelchancellor.com" style="color:blue">Chancellor Hotel</a>. </li>
                            <li> Rooms are $129 a night for double or king beds. </li>
                            <li> Call 479-442-5555 and mention the event when booking. </li>
                        </ul>
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
