{% extends "base.html" %}
{% load staticfiles %}

{% block home  %}

<br>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/calendar-clock.png' %}" alt="...">
                    <div class="caption">
                        <h2>EVENTS</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/shop.png' %}" alt="...">
                    <div class="caption">
                        <h2>SHOP</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/connect.png' %}" alt="...">
                    <div class="caption">
                        <h2>CONNECT</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/heart.png' %}" alt="...">
                    <div class="caption">
                        <h2>SPONSORS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<script>
    var tb = d3.selectAll("div.thumbnail"); //.style("background-color", "red");
</script>
-->

{% endblock %}


