{% extends "base.html" %}
{% load staticfiles %}

{% block home  %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">

<br>
<div class="content-section-a">
    <div class="container-a">
        <div class="row">
            <h1>FAYETEVILLE</h1>
            <h1>HIGH SCHOOL</h1>
            <h1>CLASS OF 2005</h1>
        </div>
    </div>
</div>



<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/ipad.png' %}" alt="...">
                    <div class="caption">
                        <h2>EVENTS</h2>
                        <p>TODO: build called using following link</p>
                        <p>https://egghead.io/lessons/d3-build-a-calendar-from-scratch-in-7-minutes-with-d3</p>
                        <p><a class="btn btn-default" href="#"> Details »</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/ipad.png' %}" alt="...">
                    <div class="caption">
                        <h2>Shop</h2>
                        <p>Tickets & T-Shirts!</p>
                        <p>hook up stripe payments</p>
                        <p><a class="btn btn-default" href="#"> Details »</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/ipad.png' %}" alt="...">
                    <div class="caption">
                        <h2>Connect</h2>
                        <p>pictures from yearbook and event</p>
                        <p><a class="btn btn-default" href="#"> Details »</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/ipad.png' %}" alt="...">
                    <div class="caption">
                        <h2>Sponsors</h2>
                        <p>a page of thumbnails with links to sponsors sites</p>
                        <p><a class="btn btn-default" href="#"> Details »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    build icons with d3 here

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <svg></svg>
            </div>
            <div class="col-md-6 text-center">
                <svg></svg>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <svg></svg>
            </div>
            <div class="col-md-6 text-center">
                <svg></svg>
            </div>
        </div>
    </div>
</div>

<svg height="30" width="200" >
    <a xlink:href="http://www.w3schools.com/svg/" target="_blank">
        <circle cx="50" cy="50" r="500" fill="red" />
    </a>
</svg>

-->

{% endblock %}


