{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-6 ">
                <form action="{% url 'home:login' %}" method="POST">
                    <div class="row">
                        <h2>LOG IN</h2>
                        <br>
                        <div class="col-md-12 ">
                            <p>
                                You need to
                                <a class="btn btn-primary" href="{% url 'home:register' %}" > SIGN UP </a>
                                before you can log in.
                            </p>
                            <br>
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <label class="alert alert-warning" role="alert"> {{ error }} </label>
                                {% endfor %}
                                <br>
                                <a class="btn btn-info" href="{% url 'password_reset' %}">FORGOT YOUR PASSWORD?</a>
                                <br>
                                <br>
                            {% endif %}

                            {% csrf_token %}
                            <p>
                                <label for="id_username">EMAIL</label>
                                <br>
                                {{ form.username }}
                            </p>
                            <br>
                            <p>
                                <label for="id_password">PASSWORD</label>
                                <br>
                                {{ form.password }}
                            </p>
                            <br>
                            {% if form.non_field_errors %}
                            {% endif %}
                            <button type="submit" class="btn btn-success btn-large"> LOG IN </button>
                            <br>
                            <br>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}


