{% extends "base.html" %}
{% load staticfiles %}

{% block shop %}

{% block success %}
{% endblock %}

<br>
<br>
<br>
<br>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <br>
                    <img src="{% static 'img/ticket.png' %}" alt="...">
                    <div class="caption">
                        <h2>REUNION TICKETS</h2>
                    </div>
                    <div class="container-shop">
                        <!-- TODO add customer info and product id stuff, e.g. set up models -->
                        <!-- <form action="{% url 'home:charge' customer_info, product.id, method="POST"> -->
                        <!-- see to use pub-key from settings.py see
                        <script src="https://checkout.stripe.com/checkout.js"></script>
                        http://stackoverflow.com/questions/433162/can-i-access-constants-in-settings-py-from-templates-in-django
                        data-billingAddress="true"
                        data-shippingAddress="true"
                        -->
                        <form action="{% url 'home:charge' %}" method="POST">
                            {% csrf_token %}
                            <div>
                                <label for="qty-1">Quantity</label>
                                <input type="text" name="qty-1" id="qty-1" class="qty" value="1" />
                            </div>
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_7gQww1UajKTpmBrT5amJxAuv"
                                    data-name="fhs2005.org"
                                    data-description="1 Reunion Ticket"
                                    data-amount="2000"
                                    data-image="{% static 'img/fhsLogo1.png' %}"
                                    data-zip-code="true"
                                    data-billingAddress="true"
                                    data-shippingAddress="true"
                                    data-notrack>
                            </script>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                    <br>
                    <img src="{% static 'img/t-shirt.png' %}" alt="...">
                    <div class="caption">
                        <h2>T-SHIRTS</h2>
                    </div>
                    <div class="container-shop">
                        <form action="{% url 'home:charge' %}" method="POST">
                            {% csrf_token %}
                            <div>
                                <label for="qty-1">Quantity</label>
                                <input type="text" name="qty-1" id="qty-1" class="qty" value="1" />
                            </div>
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_7gQww1UajKTpmBrT5amJxAuv"
                                    data-name="fhs2005.org"
                                    data-description="T-Shirt"
                                    data-amount="2000"
                                    data-image="{% static 'img/fhsLogo1.png' %}"
                                    data-zip-code="true"
                                    data-billingAddress="true"
                                    data-shippingAddress="true"
                                    data-notrack>
                            </script>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
{% endblock %}
