{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link href="{% static 'css/sponsors.css' %}" rel="stylesheet">

<div class="container">
    <div class="page-header">
        <h1>Sponsorship Tiers</h1>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Top Dog $500</h3></h1>
                </div>
                <div class="panel-body">
                    <p>
                    Logo on event tee shirt, website, and event banners. Company mentions at all events. Social media advertising on 2005 FHS Reunion Instagram account and Facebook Page.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Senior $400</h3></h1>
                </div>
                <div class="panel-body">
                    <p>
                        Logo on event website, and banners. Company mentions at all events. Social media advertising on 2005 FHS Reunion Instagram account and Facebook Page.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Junior $300</h3></h1>
                </div>
                <div class="panel-body">
                    <p>
                        Logo on event website. Company mentions at all events. Social media advertising on 2005 FHS Reunion Instagram account and Facebook Page.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Sophomore $200</h3></h1>
                </div>
                <div class="panel-body">
                    <p>
                        Company mentions at all events. Social media advertising on 2005 FHS Reunion Instagram account and Facebook Page.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Freshman $100</h3></h1>
                </div>
                <div class="panel-body">
                    <p>
                        Company mentions at all events.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <div class="page-header">
        <h1>Example Add Placement</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="sponsor">
                <img class="sponsor-image" src="https://placehold.it/512x256">
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
<!--
Sponsorship Opportunities

Top Dog $500

Senior $400
Logo on event website, and banners. Company mentions at all events. Social media advertising on 2005 FHS Reunion Instagram account and Facebook Page.

Junior $300
Logo on event website. Company mentions at all events. Social media advertising on 2005 FHS Reunion Instagram account and Facebook Page.

Sophomore $200
Company mentions at all events. Social media advertising on 2005 FHS Reunion Instagram account and Facebook Page.

Freshman $100
Company mentions at all events.
-->