{% extends "base.html" %}
{% load staticfiles %}

{% block sponsors %}
<link href="{% static 'css/sponsors.css' %}" rel="stylesheet">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="sponsor">
                    <img class="sponsor-image" src="https://placehold.it/1024x256">
                    <br>
                    <br>
                    <img class="sponsor-image" src="https://placehold.it/1024x256">
                    <br>
                    <br>
                    <img class="sponsor-image" src="https://placehold.it/1024x256">
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
{% endblock %}
