{% extends "base.html" %}
{% load staticfiles %}
{% block sponsors %}
<link href="{% static 'css/sponsors.css' %}" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="sponsor">
                <hr class="sponsor-divider">
                <img class="sponsor-image" src="http://placehold.it/1024x256">
                <hr class="sponsor-divider">
                <img class="sponsor-image" src="http://placehold.it/1024x256">
                <hr class="sponsor-divider">
                <img class="sponsor-image" src="http://placehold.it/1024x256">
                <hr class="sponsor-divider">
            </div>
        </div>
    </div>
{% endblock %}
